@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

 @keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sweep {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
  }
  50% {
    box-shadow: 0 0 20px #ffcc00, 0 0 40px #ffcc00, 0 0 60px #ffcc00, 0 0 80px #ffcc00;
  }
  100% {
    box-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
  }
}

@keyframes glowSilver {
  0% {
    box-shadow: 0 0 10px #C0C0C0, 0 0 20px #C0C0C0, 0 0 30px #C0C0C0, 0 0 40px #C0C0C0;
  }
  50% {
    box-shadow: 0 0 20px #C0C0C0, 0 0 40px #C0C0C0, 0 0 60px #C0C0C0, 0 0 80px #C0C0C0;
  }
  100% {
    box-shadow: 0 0 10px #C0C0C0, 0 0 20px #C0C0C0, 0 0 30px #C0C0C0, 0 0 40px #C0C0C0;
  }
}

@keyframes glowCopper {
  0% {
    box-shadow: 0 0 10px #B87333, 0 0 20px #B87333, 0 0 30px #B87333, 0 0 40px #B87333;
  }
  50% {
    box-shadow: 0 0 20px #B87333, 0 0 40px #B87333, 0 0 60px #B87333, 0 0 80px #B87333;
  }
  100% {
    box-shadow: 0 0 10px #B87333, 0 0 20px #B87333, 0 0 30px #B87333, 0 0 40px #B87333;
  }
}

.zoom-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #605f5f;
  margin-top: 55px;
}

.zoom-text-in-out {
  animation: zoom-in-out 2s infinite;
}

.game {



  &.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 60px; /* 可以根据需要调整 */
    background-color: #f0f0f0; /* 可以根据需要调整 */
  }
  &.playercontainer {
    background: rgb(204, 228, 234);
    align-items: center;
    box-shadow: $dropShadow;
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  &.listcontainer{
     margin-bottom: 30%;
  }



  &.informationcontainer {
    background: rgb(204, 228, 234);
    /* Auto layout */
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 8px 0px 0px;
    gap: 4px;

    width: 209px;
    height: 45px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.leaderboard {

  &.top3container{
    margin-top:5%;
    width: 100%;
    height: 200px;
    position: relative;
  }

  &.number{

    width: 10px;
    height: 22px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    color: #050505;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  &.container {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 5px;
    top: 297px;
  }
  
  &.name {
    font-weight: 300;
    margin-left: 50px;
  }
  &.username {
    font-weight: 500;
    color: black;
    margin-left: 250px;
    margin-right: 20px;
  }
  &.id {
    width: 53px;
    height: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.winingrate {
    width: 25px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &.ratenum {
    color: black;
  }

  &.namelink {
    color:black;
  }

  &.namelink:hover {
    color: rgb(0,89,109);
  }
}

.leaderboardhead {
  position: absolute;
  width: 232px;
  height: 30px;
  left: 50%;
  margin-left: -116px;
  top: 30px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  color: #000000;
}


.rank1 {
  width: 24.12px;
  height: 24.87px;
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
    text-align: center;
}

.rank2 {
  width: 24.12px;
  height: 24.87px;
  position: absolute;
  left: 15%;
  top: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rank3 {
  width: 24.12px;
  height: 24.87px;
  position: absolute;
  left: 85%;
  top: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.crown1 {
  width: 41px;
  height: 43px;
  position: absolute;
  left: 50%;
  top: 11.2%;
  transform: translate(-50%, -50%);

  
}

.rankname1{
  position: absolute;
  width: 89px;
  height: 36px;
  left: 50%;
  margin-left: -44.5px;
  top: 90%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #2F2F2F;
}

.rankname2{
  position: absolute;
  width: 40px;
  height: 24px;
  left: 15%;
  margin-left: -20px;
  top: 85%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  
  color: #2F2F2F;
}

.rankname3{
  position: absolute;
  width: 40px;
  height: 24px;
  left: 85%;
  margin-left: -20px;
  top: 85%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  
  color: #2F2F2F;
}

.avatar1 {
  position: absolute;
  width: 102.91px;
  height: 106.11px;
  left: 50%;
  margin-left: -51.45px;
  top: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: gold;
  border-radius: 50%;
  animation: glow 1s ease-in-out infinite;
  background-image: linear-gradient(45deg, transparent 45%, rgba(255, 255, 255, 0.5) 46%, rgba(255, 255, 255, 0.5) 54%, transparent 55%);
  background-size: 200% 200%;
  animation: sweep 2s linear infinite;
}

.avatar2 {
  position: absolute;
  width: 102.91px;
  height: 106.11px;
  left: 15%;
  margin-left: -51.45px;
  top: 11.5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: silver;
  border-radius: 50%;
  animation: glow 1s ease-in-out infinite;
  background-image: linear-gradient(45deg, transparent 45%, rgba(255, 255, 255, 0.5) 46%, rgba(255, 255, 255, 0.5) 54%, transparent 55%);
  background-size: 200% 200%;
  animation: sweep 2s linear infinite;
}

.avatar3 {
  position: absolute;
  width: 102.91px;
  height: 106.11px;
  left: 85%;
  margin-left: -51.45px;
  top: 11.5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #B87333;
  border-radius: 50%;
  animation: glow 1s ease-in-out infinite;
  background-image: linear-gradient(45deg, transparent 45%, rgba(255, 255, 255, 0.5) 46%, rgba(255, 255, 255, 0.5) 54%, transparent 55%);
  background-size: 200% 200%;
  animation: sweep 2s linear infinite;

}

.avatar4 {
/* picture nft */
width: 50px;
height: 50px;
/* Inside auto layout */
flex: none;
flex-grow: 0;
justify-self: start;
}


