@import '../theme';
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes scroll {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%); // Adjust the translation value as desired
  }
}

@keyframes pulsate {
  0% { 
    opacity: 1; 
    transform: scale(1);
  }
  50% { 
    opacity: 0.9; 
    transform: scale(1.05);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}


.room {


  &.countdown{
    position: absolute;
    left: 35%;
    top: 92%;
    width:100%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    //line-height: 27px;
    animation: blink 2s linear infinite;
  }
  &.result {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 223, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    z-index: 9999;
  }
  &.trophies {

    top: 20%;
    width: 80%;
  }
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    overflow: hidden;
  }
  &.roomid{
    position: absolute;
    width: 39%;
    height: 6.4%;
    left: 30%;
    top: 8%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 140%;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #2F2F2F;
    overflow: hidden;
    animation: scroll 1s ease infinite;
  }
  &.winning{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 140%;
    line-height: 20px;
    color: #2F2F2F;
    margin: 0;
  }
  &.reminder{
    position: absolute;
    width: 84%;
    height: 30px;
    left: 8%;
    top: 15%;

    background: #FFFAEA;
    border-radius: 19px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15%;
    //line-height: 51px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    overflow: hidden;
  }
  &.remindericon{
    position: absolute;
    width: 9%;
    left: 0%;
    //overflow: hidden;
  }
  &.backicon{
    position: absolute;
    top:5%;
    width: 12%;
    left: 0%;
    //overflow: hidden;
  }
  &.assignedword{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top:19%;
    width: 200px;
    background: #d8f8db;
    border-radius: 19px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13%;
    //line-height: 51px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #f54ca3;
    overflow: hidden;
    height: 40px;
  }
  &.remindertext{
    position: absolute;
    left: 10%;
    

    background: #FFFAEA;
    border-radius: 19px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13%;
    //line-height: 51px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    overflow: hidden;
    height: 40px;
  }
  &.theme{
    position: absolute;
    top:5%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 200%;
    //line-height: 85px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    
  }
  &.user-list{
    position: absolute;
    bottom:9%;
    left: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per line */
    gap: 10px; /* space between items */
  }
  &.playercontainer{
    width: 100%;
    height: 110%;
    margin-left: -25%;
    align-items: center;
    text-align: center;
    //background-color: chocolate;
    overflow: hidden;
  }
  &.avatarimg {
    width: 70%;
    border-radius: 50%; /* 将边框半径设置为元素宽度和高度的50% */
  }
  &.playername{
    top:20%;
    line-height: 13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    //line-height: 51px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #000000;
  }
  &.chatbox{
    position: absolute;
    width: 84%;
    height: 47%;
    left: 8%;
    top: 19%;
    background: #D7FFEE;
    border-radius: 19px;
    overflow: hidden;
  }

  &.button-row {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 8%;
    bottom: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &.button-container {
    height:100%;
    width: 48%;

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    margin-top: 2em;
    background: linear-gradient(92.24deg, #9FDBA1 -6%, #1976D2 101.32%);
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 27px;
    /* identical to box height */
    animation: pulsate 2s infinite;
    color: #FFFFFF;

      /* Add click effect */
    &:active {
      transform: scale(1.1)
    }
  }

  &.button-container1 {
    height:100%;
    width: 48%;

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    margin-top: 2em;
    background: linear-gradient(92.24deg, #9FDBA1 -6%, #1976D2 101.32%);
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 27px;
    /* identical to box height */

    color: #FFFFFF;
      /* Add click effect */

    transition: transform 1s;

    &:active {
      transform: scale(1.2)
    }
  }
  &.inputcontainer{
    position: absolute;
    left: 10%;
    width: 90%;
    height: 5%;
    bottom: 5%;
  }
  &.inputform {
    position: absolute;
    width: 78%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 0.75em;
    background: transparentize(white, 0.85);
    color: gray;
    background-color: rgba(164, 164, 164, 0.1); /* Use a semi-transparent background */
    backdrop-filter: blur(10px); /* Apply a 10px blur to the background */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 27px;
    /* identical to box height */
  }
  &.confirmicon{
    position: absolute;
    width: 12%;
    right: 0%;
    //overflow: hidden;
  }
  &.confirmicon-hidden{
    position: absolute;
    width: 12%;
    right: 0%;
    display: none;
    //overflow: hidden;
  }



}

.chat{
  &.container {
    position: absolute;
    left: 50%;
    margin-left: -48%;
    width: 96.3%;
    height: 49.5%;
    top: 10%;
    display: flex;
    justify-content: center;

  }
  
  &.chat-box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 50%;
    margin-left: -48%;
    width: 96.3%;
    height: 112%;
    top: 10%;
    display: flex;
    justify-content: center;


    background: #D7FFEE;
    border-radius: 19px;
    overflow: hidden;
  }
  
  
  &.chat-container {
    position: relative;
    width: 95%;
    height: 76%;
    overflow: hidden;
    margin-top: 13%;
  }
  
  &.chat-content {
    width: 100%;
    margin-left: 0px;
    overflow: auto;
    height: 100%;  // 这将使 .chat-content 填充整个 .chat-container
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 50px;
  }
  
  & .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);  // 这将创建一个从半透明的白色到透明的渐变
    pointer-events: none; 
  }

  
  &.chat.chat-content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

  &.chat.message.system {
    /* Add your styles for system messages here, e.g. font size, color, etc. */
    font-size: 14px;
    color: #777;
    text-align: center;
    font-style: italic;
  }


  &.chat-messages {
    height: 70%;
    width: 80%; /* 将宽度减少为原来的85%（即减少10%） */
    margin-left: 15%; /* 从左边向右增加10%的外边距 */
    border-radius: 10%;
    margin-top: 140px;
  }
  
  &.send-messagebox {
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: row;
    top: 92%;
    left: 22px;
  }
  
  &.input-message {
    box-sizing: border-box;

    width: 85%;
    height: 40px;
    left: 0px;
    top: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.0447917) 77.08%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: normal, overlay, normal;
    backdrop-filter: blur(6.07811px);
    /* Note: backdrop-filter has minimal browser support */
    border: none;
    border-radius: 0.75em;
    background: transparentize(white, 0.85);
    color: gray;
    background-color: rgba(164, 164, 164, 0.1); /* Use a semi-transparent background */
    backdrop-filter: blur(10px); /* Apply a 10px blur to the background */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 27px;

  }
  &.inputform {
    position: absolute;
    width: 78%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 0.75em;
    background: transparentize(white, 0.85);
    color: gray;
    background-color: rgba(164, 164, 164, 0.1); /* Use a semi-transparent background */
    backdrop-filter: blur(10px); /* Apply a 10px blur to the background */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 27px;
    /* identical to box height */
  }
  
  &.ul {
    padding: 0;
    list-style-type: none;
    // width: 100%;

  }
  
  &.send-button {
    width: 10%;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  &.member {
    padding: 5px;
    background: #f8d7d7;
    border: #000;
    cursor: pointer;
    margin: 5px 2px;
    box-shadow: 0 8px 8px -4px rgb(0, 189, 251);
    width: 250%;
  }
  
  &.member.active {
    background: rgb(20, 194, 233);
    color: #fff;
    width: 250%;
  }
  
  &.member:hover {
    background: grey;
    color: #fff;
    width: 250%;
  }
  
  &.avatar {
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 10px;
    color: #fff;
  }
  
  &.avatar.self {
    color: #000;
    background-color: greenyellow;
    border-radius: 10px;
  }
  
  &.message {
    padding: 5px;
    //width: 115%;
    //height:18%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
    margin-left: -50px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }
  
  &.message-data {
    padding: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  &.message.self {
    justify-content: flex-end;
  }
}
