@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,100,200|Inter:700,500,600");
@import 'styles/theme';

/**
This file contains the general and shared style of your application.
 */


// @font-face {
// font-family:"SF Pro Text-Semibold";
// font-style: normal;
// font-weight: 400;
// src: url("https://fonts.animaadD.com/SFProText-Semibold") format("opentype");
// }

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $fontDefault;
  background-image: url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
